{
   "sourceMaps": true,
   "presets": [
      [
         "env",
         {
            "loose": true,
            "debug": false
         }
      ],
      "stage-0"
   ],
   "plugins": [
      "transform-decorators-legacy",
      ["transform-react-jsx", { "pragma": "h" }]
   ]
}
