{
  "sourceMaps": true,
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "loose": true,
        "targets": {
          "browsers": ["Safari >= 5.1"]
        },
        "debug": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
