{
   "extends": ["standard", "standard-preact", "prettier"],
   "plugins": ["react", "standard", "jest"],
   "env": {
      "browser": true,
      "node": true,
      "mocha": true,
      "es6": true,
      "jest/globals": true
   },
   "parserOptions": {
      "ecmaFeatures": {
         "modules": true
      }
   },
   "globals": {
      "sleep": true
   },
   "rules": {
      "indent": ["error", 2, { "SwitchCase": 1 }],
      "jsx-quotes": ["error", "prefer-double"]
   }
}
